// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

// Animations
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

// Global DOM elements
body {
    padding: 0;
    margin: 0;
    background-image: url('../public/images/background.webp'); // using webp format because it is simply better than jpg
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::-webkit-scrollbar { // hides scrollbars
    width: 0;
    height: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #e79c6d;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #bd643c;
}

div {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0d0e09;
}

// Container element
.container {
    display: grid;
    grid-template-columns: [left] 50vw [right] 50vw; // separates grid into two
    grid-template-rows: [row1-start] 100vh [row2-start] 100vh [row3-start] 100vh [last-line]; // starts outlining grid -- each row will be 100% of vh

    animation: fadeIn linear 1s; // fadeIn animation
}