// affects the positioning of the landing page div
.landing-page {
    position: fixed !important; // while positioned in grid still needs to be persistent
    grid-column-start: left; // position in grid
    grid-column-end: right;
    margin: 0 auto 0 10vw; 
}

// main text that people see on page load
.title {
    font-size: 10vw;
    margin-top: 2vw; // move title slightly
}
// color of blinking
.underscore {
    color: #8f2a1e;
}

// subtitle has lighter color and lighter font weight inherited from globals
.subtitle {
    // position: relative;
    font-size: 1.5vw;
    margin: -6vw 67.5vw auto auto; // used to customise text boundary
    letter-spacing: 0.1vw;
}