@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

// position scroll div on right side of vw
.scroll-section {
    grid-column-start: right; // right side of screen
    grid-row-start: row1-start; // position div in grid
    grid-row-end: row2-start;
}

// css for initial element
.scroll {
    position: absolute;
    bottom: 0.5vw; // push it up a lil
    width: 50vw; // three lines to center it oml
    text-align: center;
    color: #fff8ef;
    font-size: 1.2vw;

    &:hover {
        cursor: pointer; // indicates you can click on scroll text
    }

    &.fadeIn {
        animation: fadeIn linear 0.35s;
        opacity: 1; // fade in when reappeared
    }

    &.fadeOut {
        animation: fadeOut linear 0.35s;
        opacity: 0; // make it disappear
    }
}