// position scroll div on right side of vw
.scroll-section {
    grid-column-start: right; // right side of screen
    grid-row-start: row1-start; // position div in grid
    grid-row-end: row2-start;
}

// position element at bottom of div
.scroll {
    position: absolute;
    bottom: 0.5vw; // push it up a lil
    width: 50vw; // three lines to center it oml
    text-align: center;
    color: #fff8ef;
    font-size: 1.2vw;
}