// position scroll div on right side of vw
.scroll-section {
    position: absolute; // cause we wanna move the other elements relative to this
    width: 40vw;
    margin: 0 auto 0 50vw; // last value must be the total width of landing page
    height: 100%;
    // background-color: #ffe2d3; -- colour for divs
}

// position element at bottom of div
.scroll {
    margin: 47vw auto auto auto;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 1.2vw;
}